
@{
    ViewData["Title"] = "Index";
}


<h1 class="display-5" style="color: black; text-align: center; font-weight: bold; padding-top: 70px"><span>Mid-monthly Exam : 10</span></h1>
<h2 class="display-5" style="color: teal; text-align: center; font-weight: 200; padding-top: 5px"><span>ID:1268507</span></h2>
<h3 class="display-5" style="color: darkcyan; text-align: center; font-weight: 200; padding-top: 5px"><span>Created by Nuzat Tabassum</span></h3>
<div class="Chat-card">
    <ul class="Info" style="text-align:justify; font-weight:500; ">
        <li>Use .Net Core</li>
        <li>Use SignalR</li>
        <li>Use Jquery</li>
        <li>Use BootStrap</li>
    </ul>
</div>
